<main class="example-accounts">
  <div class="example-accounts__header">
    <app-header></app-header>
  </div>
  <div class="example-accounts__content">
    <div class="example-accounts__content-login">
      <app-login>
        rfere
      </app-login>
    </div>
    <div class="example-accounts__content-aside">
      <app-site-info></app-site-info>
    </div>
  </div>
  <div class="example-accounts__footer">
    <app-footer></app-footer>
  </div>
</main>
<div class="example-accounts-canvas">
  <app-animation></app-animation>
</div>
