<div class="login">

  <br>

  <div class="Login__title">
    <span>
      Inicia sesión en tu cuenta
    </span>
  </div>

  <br>

  <div class="Login__social-singin">
    <button>
      Iniciar Google
    </button>
  </div>

  <br>

    <div class="Login__social-singin">
    <button>
      Iniciar Facebook
    </button>
  </div>

  <br>

  <div class="Login__split">
    <span>
      ______________________________________
    </span>
  </div>

  <br>

  <div class="Login__singin">
    Login<input/>
    <br>
    <br>
    Contraseña<input/>
  </div>

  <br>
  <div class="Login__start">
       <button>Iniciar sesion</button>
  </div>
  <br>
  <br>

  <div class="Login__options">
    <span>
      ¿Olvidaste tu contraseña?
    </span>
    <br>
    <span>
      ¿Eres nuevo? Registrate
    </span>
  </div>

</div>
