@import '../../styles/theme.scss';

.login {
  height: 100%;
  width: 100%;
  background: rgb($palette-primary-color-text, 0.02);
  border: 1px solid $palette-secondary-text-color;

  &__title {
    padding: $space-stack-s $space-inline-xl;
    font-weight: $font-weight-semibold;
    font-size: $font-size-title;
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $space-stack-s $space-inline-xl;
    font-weight: $font-size-body;

    button {
      margin: $space-stack-s 0; /*$space-stack-s;*/
      height: 34px;

    }
  }

  &__split {
    display: flex;
    justify-content: space-between;
    padding: $space-stack-s $space-inline-xl;
    color: $palette-divider-color;
    font-weight: 200;
    font-size: $font-size-body-small;

    &-line {
      width: 40%;
      border-bottom: 1px solid $palette-divider-color;
      position: relative;
      top: -7px;
    }
  }

  &__singin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $space-stack-s $space-inline-xl;
    font-weight: $font-weight-semibold;

    input {
      line-height: 30px;
      font-weight: $font-weight-regular;
      /*border-radius: $border-radius-s;*/
    }

    &-input-error {
      color: $color-state-error;
      font-size: $font-size-body-small;
      font-weight: $font-weight-regular;
    }

  }

  &__start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $space-stack-s $space-inline-xl;
    font-weight: $font-size-body;

    button {
      margin: $space-stack-s 0; /*$space-stack-s;*/
      height: 34px;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $space-stack-s $space-inline-xl;
    font-size: $font-size-body-small;
    font-weight: $font-weight-regular;

  }

}
