<div class="login">

  <br>
  <div class="login__title">
    <span>Inicia sesión en tu cuenta</span>
  </div>

  <div class="login__social">
    <button>Iniciar Google</button>
    <button>Iniciar Facebook</button>
  </div>

  <div class="login__split">
    <div class="login__split-line"></div>
    <span>o</span>
    <div class="login__split-line"></div>
  </div>

  <div class="login__singin">
    <input placeholder="correo" />

    <span>
      Ingresa una dirección de correo electrónico válida
    </span>
    <br>
    <br>
    <input placeholder="contraseña" />
  </div>

  <br>
  <div class="login__start">
    <button>Iniciar sesion</button>
  </div>
  <br>
  <br>

  <div class="login__options">
    <span>¿Olvidaste tu contraseña?</span>
    <span>¿Eres nuevo? Registrate</span>
  </div>

</div>
