<div class="login">
  <div class="login__title">
    <span>Inicia sesión en tu cuenta</span>
  </div>

  <div class="login__social">
    <button>Inicia sesión con Google</button>
    <button>Inicia sesión con Facebook</button>
  </div>

  <div class="login__split">
    <div class="login__split-line"></div>
    <span>o</span>
    <div class="login__split-line"></div>
  </div>

  <div class="login__singin">
    <input placeholder="correo"/>

    <span class="login__singin-input-error">
      Ingresa una dirección de correo electrónico válida
    </span>
    <br>
    <br>
    <input placeholder="contraseña"/>
    <span class="login__singin-input-error">
      Escribe tu contraseña
    </span>
  </div>


  <div class="login__start">
    <button>Iniciar sesion</button>
  </div>
  <div class="login__options">
    <span>¿Olvidaste tu contraseña?</span>
    <span>¿Eres nuevo? Registrate</span>
  </div>

</div>
